.popup__form_infotooltip {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.popup__container-infotooltip {
   width: 430px;
   height: 330px;
   background: #FFF;
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
   border-radius: 10px;
   position: relative;
}

.popup__form-title_infotooltip {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    width: 358px;
    height: 58px;
    margin: 0 auto;
    padding: 0;
    color: #000;
}

.popup__infotooltip-image {
    height: 120px;
    padding: 60px 155px 32px 155px;
    margin: 0;
}