.popup_type_login {
    background-color: #000;
    position: static;
    justify-content: flex-start;
    height: 100vh;
}

.popup__form_login {
    background-color: #000;
    color: #FFF;
}

.popup__form-title_login {
    text-align: center;
    color: #FFF;
}

.popup__input-container_login {
    padding-bottom: 162px;
}

.popup__input {
    border-bottom: 2px solid #CCCCCC;
    color: #FFF;
}

.popup__close-button_login {
    visibility: hidden;
}

.popup__button_login {
    background-color: #FFF;
    color: #000;
    margin-top: 216px;
}

.login__button-register {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
    background-color: #000;
    position: fixed;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 320px) {
    .login__button-register {
        top: 28px;
        right: 8vh;
    }
}

@media screen and (min-width: 540px) {
    .login__button-register {
        top: 51px;
        right: 12vh;
    }
}

@media screen and (min-width: 1280px) {
    .login__button-register {
        right: 23%;
    }
}

@media screen and (min-width: 1440px) {
    .login__button-register {
        right: 26%;
    }
}