.popup_type_register {
    background-color: #000;
    z-index: -1;
    height: content;
    position: static;
}

.popup__form {
    background-color: #000;
    color: #FFF;
}

.popup__form-title {
    text-align: center;
    color: #FFF;
}

.popup__input-container {
    padding-bottom: 162px;
}

.popup__input {
    border-bottom: 2px solid #CCCCCC;
    color: #FFF;
}

.popup__close-button {
    visibility: hidden;
}

.popup__button {
    background-color: #FFF;
    color: #000;
    margin-bottom: 18px;
}

.register__signin {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.register__signin p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 0;
}

.register__login-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: white;
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
}