.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 68.7%;
    max-width: 880px;
    height: max-content;
    padding-top: 45px;
    margin: 0 auto;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 960px) {
    .header {
        width: 83%;
    }
}

@media screen and (max-width: 540px) {
    .header {
        width: 80%;
        padding-top: 28px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: 100%;
    }
}