.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68.8%;
    max-width: 880px;
    padding-top: 40px;
    margin: 0 auto;
  }

  @media screen and (max-width: 960px) {
    .content {
      width: 85%;  
    }
}

  @media screen and (max-width: 540px) {
      .content {
        width: 88%;
        padding-top: 42px;
      }
  }